.App {
  text-align: center;

}


body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometric-leaves.png");
  width: 100%;
  height: 100vmax;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;

}

.App-title {
  color: #0f4c81;
  font-size: 3em;
  /* font-family:  */
}

.App-intro {
  font-size: large;
}

.contact-list {
  padding-top: 15%;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

#edit {
  float: right;
}

#delete {
  float: right;
  background: #0f4c81;
}
.new-contact {
  text-align: center;
  margin-top: 200px;
}

.addButton {
  float: center;
  margin: 100px;
  background: #0f4c81;
}

.submitContact {
  float: center;
  margin: 100px;
  background: #0f4c81;
}

label {
  font-size: 20px;
}